
@{
    ViewData["Title"] = "拒絕存取";
}

<h4>權限說明</h4>
<hr/>

<div class=card>
    <div class="card-header bg-primary text-light">無權限存取</div>
    <div class="card-body">
        <ul>
            <li>
                請先登入，或先註冊再登入
            </li>
            <li>
                若註冊無法登入，算你沒緣分/_>\
            </li>
            <li>
                笑死
            </li>
        </ul>
    </div>
</div>
