@inject IConfiguration _config;

@{
    ViewData["Title"] = "Index";
}

<h1>Test WeatherForecast</h1>
<form method="post">
    <!-- form markup -->
</form>
<div id="app">
    <button v-on:click="GetAuth()" class="btn btn-warning">驗證</button>
    <button v-on:click="CheckAuth()" class="btn btn-primary">重新檢查</button>
    <button v-on:click="PageReload()" class="btn btn-info">重新整理</button>   
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>date</th>
                <th>temperatureC</th>
                <th>temperatureF</th>
                <th>summary</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in WeatherList">
                <td>{{item.date}}</td>
                <td>{{item.temperatureC}}</td>
                <td>{{item.temperatureF}}</td>
                <td>{{item.summary}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var authUrl='api/GetAuth';
    var apiUrl='@(_config.GetSection("WebAPIUrl").Value)WeatherForecast';
    var apiCheck='/api/GetAuth/checktokenvalid';
    //var apiUrl='https://localhost:44393/WeatherForecast';
    new Vue({
        el: '#app',
        data: {
            WeatherList: null
        },      
        mounted() {
            //baseInstance.get(apiUrl)
            //    .then(response => {
            //        this.WeatherList = response.data;
            //    });
            const defaultOptions = {
                baseURL: apiUrl,
                headers: {
                  'Content-Type': 'application/json',
                },
            };

            // Create instance
            let instance = axios.create(defaultOptions);

            // Set the AUTH token for any request
            instance.interceptors.request.use(function (config) {
                const token = window.localStorage.getItem("token");
                config.headers.Authorization =  token ? `Bearer ${token}` : '';
                return config;
            });

            instance.get(apiUrl)
                .then(response => {
                    this.WeatherList = response.data;
                });
        },
        filters: {
            dateFormat: function (value, myFormat) {
                return moment(value).format(myFormat || 'YYYY-MM-DD, HH:mm:ss');
            }
        },
        methods: {        
            GetAuth() {
                $.ajax({
                    url: authUrl,
                    type: 'GET',
                    success: function (obj, textStatus, xhr) {   
                        window.localStorage.setItem("token", obj.access_token); 
                        window.localStorage.setItem("refreshtoken", obj.refresh_token); 
                        alert('驗證完成');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        var jsonResponse = JSON.parse(xhr.responseText);
                        var errors = jsonResponse.errors;
                        alert(errors[0]);
                    }
                });
            },
            CheckAuth() {
                var data = { 
                    "Token": window.localStorage.getItem("token"),
                    "RefreshToken": window.localStorage.getItem("refreshtoken")
                };
                $.ajax({
                    type: "POST",
                    url: apiCheck,
                    headers:{
					    'RequestVerificationToken':$('input:hidden[name="__RequestVerificationToken"]').val()
				    },
                    data: JSON.stringify(data),
                    contentType : 'application/json;',
                    statusCode: {
                        401: function(xhr, status, error) {
                             var jsonResponse = JSON.parse(xhr.responseText);
                             var errors = jsonResponse.errors;
                             alert('Error happened: ' + errors[0]);
                        }
                    }
                }).done(function( obj ) {
                    window.localStorage.setItem("token", obj.access_token); 
                    window.localStorage.setItem("refreshtoken", obj.refresh_token); 
                    alert('重新驗證完成');                   
                }).fail(function(xhr, status, error) {
                     //var jsonResponse = JSON.parse(xhr.responseText);
                     //var errors = jsonResponse.errors;
                     //alert(errors[0]);
                });               
            },
            PageReload(){
                window.location.reload();
            }
        }
    });
</script>