@inject IConfiguration _config;

@{
    ViewData["Title"] = "Index";
}

<h1>Test WeatherForecast</h1>

<div id="app">
    @*<button v-on:click="GetAuth()" class="btn btn-warning">驗證</button>*@
    <button v-on:click="CheckAuth()" class="btn btn-primary">重新檢查</button>
    <button v-on:click="PageReload()" class="btn btn-info">重新整理</button>   
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                @*<th>date</th>*@
                <th>date</th>
                <th>temperatureC</th>
                <th>temperatureF</th>
                <th>summary</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in WeatherListData">
                @*<td>{{dateFormat}}</td>*@
                @*<td>{{SetDateFormat(item.date,'YYYY-MM-DD HH:mm:ss')}}</td>*@
                <td>{{SetDateFormat(item.date,'YYYY-MM-DD')}}</td>
                <td>{{item.temperatureC}}</td>
                <td>{{item.temperatureF}}</td>
                <td>{{item.summary}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <pagination-btn
            :page-item="pageItem"
            @@go-to-page="toPage"
        ></pagination-btn>
    </div>
</div>

<script src="~/scripts/Test/Index.js"></script>