@model IEnumerable<System.IO.FileInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>多檔案上傳</title>
    <style>
        div {
            width: 220px;
            height: 400px;
            background-color: beige;
            padding: 10px;
            margin: 10px;
            text-align: center;
            float: left;
        }

        img {
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>檔案存入網站資料夾路徑</h1>
    <h3>上傳多個檔案</h3>
    <form method="post" action="@Url.Action("TestFilesUpload")" enctype="multipart/form-data">
        <p>請選擇要上傳的檔案</p>
        <p><input type="file" name="formFiles"></p>
        <p><input type="file" name="formFiles"></p>
        <p><input type="file" name="formFiles"></p>
        <p><input type="file" name="formFiles"></p>
        <p><input type="file" name="formFiles"></p>
        <p><input type="submit" value="上傳檔案"></p>
    </form>
    <hr />
    <hr />
    @foreach (var item in Model)
    {
        <div>
            <img src="~/Images/@item.Name" />
            <p>@item.Name.Split('.')[0]</p>
        </div>
    }
</body>
</html>