@model ShClass

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="row">
    <div class="col-md-4" id="app">
        <form id="shclassForm" asp-action="Create" v-on:submit.prevent="handleSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShClassName" class="control-label"></label>
                <input id="ShClassName" name="ShClassName" v-model="ShClassName" class="form-control"/>
                <span asp-validation-for="ShClassName" class="text-danger"></span>
            </div>          
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">新增</button>
            </div>
        </form>       
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/scripts/Admin/ShClass/Create.js"></script>
}
