@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<h4>編輯員工</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.AuserId)
            </div>          
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.EmpAccount)
            </div>
            <div class="form-group">
                <label asp-for="EmpPwd" class="control-label"></label>
                <input asp-for="EmpPwd" class="form-control" />
                <span asp-validation-for="EmpPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                   <input type="checkbox" class="form-check-input" id="ChangePwd" name="ChangePwd" value="true" 
                           @{
                               if (Model.ChangePwd.HasValue && Model.ChangePwd.Value)
                               {
                                   @:checked
                               }
                           }/>
                    <label for="ChangePwd" class="form-check-label">修改密碼</label>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.EmpEmail)
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="EmpSex1" name="EmpSex" value="0" 
                  @if(Model.EmpSex=="0")
                  {
                    @:checked
                  }
                  >
                  <label class="form-check-label" for="EmpSex1">女</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="EmpSex2" name="EmpSex" value="1"
                  @if(Model.EmpSex=="1")
                  {
                    @:checked
                  }
                  >
                  <label class="form-check-label" for="EmpSex2">男</label>
                </div>
                <span asp-validation-for="EmpSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpBirth" class="control-label"></label>
                <input asp-for="EmpBirth" class="form-control" />
                <span asp-validation-for="EmpBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpTel" class="control-label"></label>
                <input asp-for="EmpTel" class="form-control" />
                <span asp-validation-for="EmpTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDate" class="control-label"></label>
                <input asp-for="LeaveDate" class="form-control" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="EmpAccountState1" name="EmpAccountState" value="0"
                  @if(Model.EmpAccountState=="0")
                  {
                    @:checked
                  }
                  >
                  <label class="form-check-label" for="EmpAccountState1">停用</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="EmpAccountState2" name="EmpAccountState" value="1"
                  @if(Model.EmpAccountState=="1")
                  {
                    @:checked
                  }
                  >
                  <label class="form-check-label" for="EmpAccountState2">啟用</label>
                </div>
                <span asp-validation-for="EmpAccountState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin" asp-action="Index" class="btn btn-light">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/scripts/Admin/Employee/Edit.js"></script>
}
