@inject IHtmlLocalizer<SharedResources> _localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .modal-header {
        padding:9px 15px;
        border-bottom:1px solid #eee;
        background-color: #0480be;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
     }
</style>

<div class="row">
  <div class="col-sm-12">
    <div id="app">
        <div class="row">
            <div class="col-xs-4 col-sm-6">
                <button v-on:click="AddProClass()" class="btn btn-primary m-1">新增產品類別</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-6">
                                   
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th style="width:40%">@_localizer["ProductClass.ProClassName"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in ListData">
                                <td>{{item.ProClassName}}</td>
                                <td>
                                    <button v-on:click="EditProClass(item.id)" class="btn btn-warning">編輯</button> |
                                    <button v-on:click="DeleteProClass(item.id)" class="btn btn-danger">刪除</button> |
                                    <button v-on:click="SelectProClass(item.id)" class="btn btn-success">選擇</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <pagination-btn
                            :page-item="pageItem"
                            @@paged="toPage"
                        ></pagination-btn>
                    </div>
                    <modal_popup ref="serviceModal" :parent-title="popupTitle" v-on:emit-hide="hidePopupModal"/>
                
                </div>
                <div class="col-xs-8 col-sm-6">
                
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th style="width:40%">@_localizer["Product.ProName"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody v-if="ProductListData.length">
                            <tr v-for="(item,index) in ProductListData">
                                <td>{{item.shName}}</td>
                                <td>
                                    <button v-on:click="SelectProduct(item.id)" class="btn btn-success">選擇</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td>
                                    無資料
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
            </div>      
        </div>
  </div>
</div>

@section Scripts{
    <script src="~/scripts/Admin/ProductClass/Index.js"></script>
}

